.card-container {
    position: relative;
    padding: 2rem;
    margin: 0;
    background-color: var(--card-background);
    overflow: hidden;
}

.hover-shadow:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.26);
}

.perm-shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.26);
}

@media (max-width: 812px) {
    .hover-shadow {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.26);
    }
}